<style type="text/css">
.MAINTABLE {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #FFFFFF;
}
.Norm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Norm-BLD {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.MAINTABLE {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	}
.ERR {font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #FF0000; }
.TXT-SML {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.link-blu {
	font-family: Arial, Helvetica, sans-serif;
	color: #000066;
	font-weight:bold;
}

</style>
